
<%= form_for(@mail) do |f| %>
  <% if @mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail.errors.count, "error") %> prohibited this mail from being saved:</h2>

      <ul>
      <% @mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>-->
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit :Send, :id => 'submit' %>
    <input type="button" name = "Save" value="Save" onclick="saveToDrafts()">
  </div>
<% end %>
<script>
document.getElementById("mail_to").value = document.getElementById("mail_to").value.replace("!","")
</script>
<script>
function saveToDrafts(){
  document.getElementById('mail_to').value = document.getElementById('mail_to').value+"!"
  document.getElementById('submit').click()
}
</script>
