<h2><i><%= @type %></i></h2>

<table style="text-align:center">
  <tr>
    <th width=70>
      <% if @type=='Inbox'%>
        <%="From"%>
      <%else%>
        <%="To"%>
      <%end%>
    </th>
    <!--<th>To</th>-->
    <th width=100>Subject</th>
    <th width=200>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mails.each do |mail| %>
  <tr>
    <td><%= mail.from %></td>
    <!--<td><%= mail.to %></td>-->
    <td><%= mail.subject %></td>
    <td><%= mail.message[0..12]+"..." %></td>
    <td><%= link_to 'Read', mail %></td>
    <td><%= link_to 'Reply', new_mail_path(:to => mail.from) %></td>
    <td><%= link_to 'Delete', mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% if(@mails.size==0) %>
  <p><i> No new messages </i></p>
<% end %>
<br />

<%= link_to 'Compose', new_mail_path %>
